@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --main-background-color: #181818;
    --nav-background-color: rgba(33, 33, 33, 0.98);
    --nav-left-background-color: #212121;
    --nav-background-transparent-color-top: rgba( 40, 40, 40, 0.8 );
    --nav-background-color-left: #212121;
    --ad-yt-premium-background-color: rgba(2,2,2,1);
    --searchbox-background-color: hsl(0, 0%, 7%);
    --searchbox-text-color: hsla(0, 100%, 100%, 0.88);
    --searchbox-legacy-border-color: hsl(0, 0%, 18.82%);
    --searchbox-legacy-border-color-active: #065fd4;
    --border-line-color: rgba(255, 255, 255, 0.1);
    --tag-button-background-color: rgba(255, 255, 255, 0.1);
    --separator-color: rgba(255, 255, 255, 0.1);
    --button-access-color: #3ea6ff;
    --white-font-color: #fff;
    --description-video-color-font: #aaa;
    --roboto-font: 'Roboto', sans-serif
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--main-background-color);
    color: var(--white-font-color);
    font-family: var(--roboto-font);
    font-size: 62.5%;
    display: grid;
    grid-template-columns: 18vw 82vw;
    grid-template-rows: 100px 100%;
    grid-template-areas: 
        "nav-left nav-top"
        "nav-left main";
}

/* NAV TOP  */
.nav-top {
    width: 100vw;
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--nav-background-color);
    grid-area: nav-top;
}
.nav-top .search {
    height: 50%;
    display: flex;
    border-bottom: 1px solid var(--border-line-color);
    justify-content: space-around;
    align-items: center;
}
.nav-top .search .search-bar {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
.nav-top .search .search-bar .left {
    padding: 0.1rem 0 0.1rem 0.1rem;
    border-radius: 0.2rem;
    background-color: var(--nav-background-transparent-color-top);
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-top .search .search-bar .left i {
    padding: 0 1.3rem;
    cursor: pointer;
}
.nav-top .search .search-bar .left input {
    width: 400px;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    border: none;
    background-color: var(--searchbox-background-color);
    color: var(--searchbox-text-color);
}
.nav-top .search .search-bar .left input:active,
input:focus {
    outline-color: var(--searchbox-legacy-border-color-active);
    outline-offset: 0;
    box-shadow: none;
    border-color: var(--searchbox-legacy-border-color-active);
}
.nav-top .search .search-bar .right i {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--searchbox-background-color);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-top .search .search-bar .right i:active {
    background-color: var(--tag-button-background-color);
}

/* NAV TAGS */
.nav-top .tags {
    height: 50%;
    padding-right: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}
.nav-top .tags button {
    padding: 0.5rem 0.8rem;
    border: 1px solid var(--border-line-color);
    border-radius: 2rem;
    background-color: var(--tag-button-background-color);
    font-size: 0.9rem;
    color: var(--white-font-color);
    cursor: pointer;
    transition: 0.3s all;
}
.nav-top .tags button:hover {
    background-color: #686868;
}
.nav-top .tags button:focus {
    background-color: var(--white-font-color);
    color: var(--main-background-color);
}

/* NAV LEFT */
.nav-left {
    width: 18vw;
    height: 100vh;
    position: fixed;
    background-color: var(--nav-left-background-color);
    grid-area: nav-left;
    z-index: 999;
}
.nav-left .logo {
    height: 50px;
    padding-left: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.7rem;
    position: fixed;
    top: 0;
}
.nav-left .logo i {
    width: 2.2rem;
    height: 2.2rem;
    font-size: 1.1rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.nav-left .logo i:active {
    border-radius: 50%;
    background-color: var(--tag-button-background-color);
}
.nav-left .logo .yt-logo {
    height: 2.5rem;
}

.nav-left .nav-left-content {
    width: 100%;
    margin-top: 46px;
    display: flex;
    flex-direction: column;
}
.nav-left .nav-left-content article {
    border-bottom: 1px solid var(--border-line-color);
    padding: 0.5rem 0;
}
.nav-left .nav-left-content article div {
    padding: 0.7rem 1.6rem;
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1.6rem;
    cursor: pointer;
}
.nav-left .nav-left-content article div:hover {
    background-color: var(--border-line-color);
    font-weight: bold;
}
.nav-left .nav-left-content article div:active {
    background-color: #636363;
    font-weight: bold;
}
.nav-left .nav-left-content article div i {
    width: 1.2rem;
    height: 1.2rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}
.nav-left .nav-left-content .content-3 .item-1 {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}
.nav-left .nav-left-content .content-3 .item-1:hover {
    background-color: var(--nav-background-color-left);
    font-weight: 400;
    cursor: default;
}
.nav-left .nav-left-content .content-3 .item-1 button {
    padding: 0.5rem 0.9rem;
    border-color: var(--button-access-color);
    background-color: transparent;
    color: var(--button-access-color);
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}
.nav-left .nav-left-content .content-3 .item-1 button i {
    font-weight: lighter;
}
.nav-left .nav-left-content .content-4 .item-title {
    background-color: var(--nav-background-color-left);
    color: var(--description-video-color-font);
    font-size: 0.8rem;
    cursor: text;
}
.nav-left .nav-left-content .content-4 div {
    padding: 0.6rem 1.6rem;
}
.nav-left .nav-left-content .content-4 div i {
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--tag-button-background-color);
    border-radius: 50%;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-left .nav-left-content .content-5 div i {
    width: 1.4rem;
    height: 1.4rem;
    background-color: none;
    border: 1px solid var(--white-font-color);
    border-radius: 50%;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 100%;
    height: 100%;
    grid-area: main;
}

/* VIDEOS SECTION */
.main .ad-yt-premium {
    height: 250px;
    padding: 2rem;
    background-color: var(--ad-yt-premium-background-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main .ad-yt-premium .top img {
    width: 20rem;
    margin-bottom: 0.7rem;
}
.main .ad-yt-premium .top h2 {
    font-size: 1.7rem;
}
.main .ad-yt-premium .bottom button {
    padding: 0.5rem 1rem;
    color: var(--white-font-color);
    background: none;
    border: 2px solid;
    cursor: pointer;
}

.main .videos-section {
    width: 100%;
    height: 1550px;
    padding: 3.5rem 1.5rem;
    background-color: var(--main-background-color);
    /* border: 1px solid #fff; */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 250px) 75px 350px 60px 250px;
    grid-template-areas: 
        "video-1 video-1 video-1 video-2 video-2 video-2 video-3 video-3 video-3 video-4 video-4 video-4"
        "video-5 video-5 video-5 video-6 video-6 video-6 video-7 video-7 video-7 video-8 video-8 video-8"
        "shorts shorts shorts shorts shorts shorts shorts shorts shorts shorts shorts shorts"
        "short-1 short-1 short-2 short-2 short-3 short-3 short-4 short-4 short-5 short-5 short-6 short-6"
        "tendencias tendencias tendencias tendencias tendencias tendencias tendencias tendencias tendencias tendencias tendencias tendencias"
        "video-9 video-9 video-9 video-10 video-10 video-10 video-11 video-11 video-11 video-12 video-12 video-12";
    gap: 38px 16px;
}
.main .videos-section article {
    cursor: pointer;
    /* border: 1px solid #fff; */
}
.main .videos-section .yt-video {
    width: 100%;
    height: 60%;
    background-size: cover;
}
.main .videos-section .yt-video iframe {
    width: 100%;
    height: 100%;
    opacity: 0;
}
.main .videos-section .yt-video iframe:hover {
    opacity: 1;
}
.main .videos-section .yt-video-description {
    display: flex;
    flex-direction: column;
}
.main .videos-section .yt-video-description .top {
    padding: 0.6rem 0;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.7rem;
}
.main .videos-section .yt-video-description .top img {
    width: 40px;
    border-radius: 50%;
}
.main .videos-section .yt-video-description .bottom {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.7rem;
}
.main .videos-section .yt-video-description .bottom .left {
    width: 40px;
    border-radius: 50%;
}
.main .videos-section .yt-video-description .bottom .right {
    font-weight: 100;
    font-size: 0.8rem;
    color: var(--description-video-color-font);
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    transition: 0.3s all;
}
.main .videos-section .yt-video-description .bottom .right :nth-child(1):hover {
    color: var(--white-font-color);
}
.main .videos-section .yt-video-description .bottom .right :nth-child(1) i {
    font-size: 0.7rem;
    color: var(--description-video-color-font);
}
.main .videos-section .yt-video-description .bottom .right :nth-child(1) i:hover {
    color: var(--description-video-color-font);
}

.main .videos-section .shorts {
    width: 100%;
    height: 100%;
    border-top: 4px solid var(--separator-color);
    grid-area: shorts;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.main .videos-section .shorts .all-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}
.main .videos-section .shorts .all-logo img {
    width: 2.5rem;
}
.main .videos-section .shorts .all-logo .shorts-title {
    font-size: 1.5rem;
}

.main .videos-section .tendencias {
    width: 100%;
    height: 100%;
    border-top: 4px solid var(--separator-color);
    grid-area: tendencias;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.main .videos-section .tendencias .tendencias-title {
    font-size: 1.3rem;
}

.main .videos-section .short-video {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 10px;
}
.main .videos-section .short-video iframe {
    width: 100%;
    height: 100%;
    opacity: 0;
}
.main .videos-section .short-video iframe:hover {
    opacity: 1;
}

.main .videos-section .video-1 {
    grid-area: video-1;
    display: flex;
    flex-direction: column;
}
.main .videos-section .video-1 .yt-video {
    background-image: url("../img/yt-videos/enchufetv-sketch.webp");
}

.main .videos-section .video-2 {
    grid-area: video-2;
}
.main .videos-section .video-2 .yt-video {
    background-image: url("../img/yt-videos/luisito-comunica.webp");
}

.main .videos-section .video-3 {
    grid-area: video-3;
}
.main .videos-section .video-3 .yt-video {
    background-image: url("../img/yt-videos/auron-play.webp");
}

.main .videos-section .video-4 {
    grid-area: video-4;
}
.main .videos-section .video-4 .yt-video {
    background-image: url("../img/yt-videos/ronaldinho.webp");
}

.main .videos-section .video-5 {
    grid-area: video-5;
}
.main .videos-section .video-5 .yt-video {
    background-image: url("../img/yt-videos/tottenham-bayer.webp");
}

.main .videos-section .video-6 {
    grid-area: video-6;
}
.main .videos-section .video-6 .yt-video {
    background-image: url("../img/yt-videos/25-cosas-no-sabias.webp");
}

.main .videos-section .video-7 {
    grid-area: video-7;
}
.main .videos-section .video-7 .yt-video {
    background-image: url("../img/yt-videos/mr-beast.webp");
}

.main .videos-section .video-8 {
    grid-area: video-8;
}
.main .videos-section .video-8 .yt-video {
    background-image: url("../img/yt-videos/mcdonalds-papas.webp");
}

.main .videos-section .short-1 {
    grid-area: short-1;
}
.main .videos-section .short-1 .short-video {
    background-image: url("../img/short-videos/short-1.jpg");
}

.main .videos-section .short-2 {
    grid-area: short-2;
}
.main .videos-section .short-2 .short-video {
    background-image: url("../img/short-videos/short-2.jpg");
}

.main .videos-section .short-3 {
    grid-area: short-3;
}
.main .videos-section .short-3 .short-video {
    background-image: url("../img/short-videos/short-3.jpg");
}

.main .videos-section .short-4 {
    grid-area: short-4;
}
.main .videos-section .short-4 .short-video {
    background-image: url("../img/short-videos/short-4.jpg");
}

.main .videos-section .short-5 {
    grid-area: short-5;
}
.main .videos-section .short-5 .short-video {
    background-image: url("../img/short-videos/short-5.jpg");
}

.main .videos-section .short-6 {
    grid-area: short-6;
}
.main .videos-section .short-6 .short-video {
    background-image: url("../img/short-videos/short-6.jpg");
}

.main .videos-section .video-9 {
    grid-area: video-9;
}
.main .videos-section .video-9 .yt-video {
    background-image: url("../img/yt-videos/lugares-mas-peligrosos.webp");
}

.main .videos-section .video-10 {
    grid-area: video-10;
}
.main .videos-section .video-10 .yt-video {
    background-image: url("../img/yt-videos/pongamoslo-a-prueba.webp");
}

.main .videos-section .video-11 {
    grid-area: video-11;
}
.main .videos-section .video-11 .yt-video {
    background-image: url("../img/yt-videos/el-rubius.webp");
}

.main .videos-section .video-12 {
    grid-area: video-12;
}
.main .videos-section .video-12 .yt-video {
    background-image: url("../img/yt-videos/creative-watermelon.webp");
}