body {
    grid-template-columns: 100vw;
    grid-template-rows: 100px 100%;
    grid-template-areas:
        "nav-top"
        "main";
    overflow-x: hidden;
}

/* NAV TOP  */
.nav-top {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--nav-background-color);
    grid-area: nav-top;
}
.nav-top .search {
    height: 50%;
    width: 100%;
    border-bottom: 1px solid var(--border-line-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* NAV LEFT */
.nav-left {
    width: 0vw;
    height: 100vh;
    position: fixed;
    background-color: var(--nav-left-background-color);
    grid-area: nav-left;
    z-index: 999;
    overflow-y: scroll;
}

.main .videos-section {
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, 250px) 75px 400px 60px repeat(6, 250px);
        grid-template-areas:
            "video-1"
            "video-2"
            "video-3"
            "video-4"
            "video-5"
            "video-6"
            "shorts"
            "short-1"
            "tendencias"
            "video-7"
            "video-8"
            "video-9"
            "video-10"
            "video-11"
            "video-12";
        gap: 38px 16px;
}