body {
    grid-template-columns: 100vw;
    grid-template-rows: 100px 100%;
    grid-template-areas:
        "nav-top"
        "main";
    overflow-x: hidden;
}

/* NAV TOP  */
.nav-top {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--nav-background-color);
    grid-area: nav-top;
}
.nav-top .search {
    height: 50%;
    width: 100%;
    border-bottom: 1px solid var(--border-line-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-top .search {
    width: 100%;
}
.nav-top .search .search-bar {
    justify-content: flex-end;
    align-items: center;
}

.nav-top .search .search-bar .access {
    display: none;
}

/* NAV LEFT */
.nav-left {
    width: 18vw;
    height: 100vh;
    position: fixed;
    background: none;
    grid-area: nav-left;
    z-index: 999;
    overflow-y: hidden;
}

.nav-left .logo i {
    display: none;
}

.nav-left .nav-left-content article {
    border-bottom: none;
}

.nav-left .nav-left-content .content-1 {
    width: 100vw;
    margin-top: 46px;
    background-color: var(--nav-background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 0;
}

.nav-left .nav-left-content .content-1 div p {
    display: none;
}

.nav-left .nav-left-content .content-2,
.content-3,
.content-4,
.content-5,
.content-6,
.content-7,
.content-8 {
    display: none;
}

.main .videos-section {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 250px) 75px repeat(3, 600px) 60px repeat(3, 250px);
    grid-template-areas:
        "video-1 video-2"
        "video-3 video-4"
        "video-5 video-6"
        "shorts shorts"
        "short-1 short-2"
        "short-3 short-4"
        "short-5 short-6"
        "tendencias tendencias"
        "video-7 video-8"
        "video-9 video-10"
        "video-11 video-12";
    gap: 38px 16px;
}